.about-me {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-width: 2px;
    border-color: #000;
    border-style: inset;
    background-color: #E1E1E1;
    max-height: 60dvh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: #ffffff;
        background-image:
            linear-gradient(45deg, #c0c0c0 25%, transparent 25%),
            linear-gradient(-45deg, #c0c0c0 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #c0c0c0 75%),
            linear-gradient(-45deg, transparent 75%, #c0c0c0 75%);
        background-size: 2px 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c0c0c0;
        box-shadow: inset 1px 1px #fff, inset -1px -1px #808080;

    }

    &::-webkit-scrollbar-thumb:hover {
        box-shadow: inset 1px 1px #404040, inset -1px -1px #fff;
    }

    &::-webkit-scrollbar-button {

        &:vertical:increment:end,
        &:vertical:decrement:start {
            display: block;
            height: 1rem;
            background-color: #c0c0c0;
            box-shadow: rgb(10, 10, 10) -1px -1px 0px 0px inset, rgb(255, 255, 255) 1px 1px 0px 0px inset, rgb(128, 128, 128) -2px -2px 0px 0px inset, rgb(222, 222, 222) 2px 2px 0px 0px inset;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:vertical:increment:end {
            background-image: url('/assets/about/arrow-down.png')
        }

        &:vertical:decrement:start {
            background-image: url('/assets/about/arrow-up.png');
        }

        &:active {
            box-shadow: inset 1px 1px #404040, inset -1px -1px #fff;
        }
    }

    .banner {
        position: relative;
        height: 8rem;
        border-style: solid;
        border-width: 1px;
        border-color: #000;

        h2 {
            position: absolute;
            bottom: 1.75rem;
            right: 0.5rem;
            background-color: transparent;
        }

        p {
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
            background-color: transparent;
        }
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .profile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.25rem;

            .img-container {
                flex: 1;
                width: 12rem;
                border-style: solid;
                border-width: 1px;
                border-color: #000;

                img {
                    object-fit: fill;
                }
            }

            h1 {
                font-size: 1.5rem;
                font-weight: 500;
            }

            h2 {
                font-size: 1.25rem;
            }

            button {
                cursor: pointer;
                text-align: start;
                color: #1a00ff;

                &:hover {
                    text-decoration: underline;
                }
            }

            .socials {
                display: flex;
                flex-direction: column;
                margin-top: 0.5rem;
                gap: 0.25rem;
                width: 100%;

                h2 {
                    text-align: left;
                    font-size: 1.25rem;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .about {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h2 {
                font-size: 1.25rem;
                margin-bottom: 0.25rem;
            }

            h1 {
                font-size: 1.75rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .about-me {

        .intro {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}