.about-me {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-width: 2px;
    border-color: #000;
    border-style: inset;
    background-color: #E1E1E1;
    max-height: 60dvh;
    overflow-y: scroll;
    
    .banner {
        position: relative;
        height: 8rem;
        border-style: solid;
        border-width: 1px;
        border-color: #000;
        h2 {
            position: absolute;
            bottom: 1.75rem;
            right: 0.5rem;
            background-color: transparent;
        }
        p {
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
            background-color: transparent;
        }
    }

    .intro {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .profile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.25rem;

            .img-container {
                flex: 1;
                width: 12rem;
                border-style: solid;
                border-width: 1px;
                border-color: #000;
                img {
                    object-fit: fill;
                }
            }
            h1 {
                font-size: 1.5rem;
                font-weight: 500;
            }
            h2 {
                font-size: 1.25rem;
            }

            button {
                cursor: pointer;
                text-align: start;
                color: #1a00ff;
                &:hover {
                    text-decoration: underline;
                }
            }

            .socials {
                display: flex;
                flex-direction: column;
                margin-top: 0.5rem;
                gap: 0.25rem;
                h2 {
                    text-align: left;
                    font-size: 1.25rem;
                }
                div {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .about {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            // width: 40rem;

            h2 {
                font-size: 1.25rem;
                margin-bottom: 0.25rem;
            }
            h1 {
                font-size: 1.75rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }
            p {
                // max-width: 75ch;
            }
        }
    }
}