.adobe-ad-banner {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    align-items: flex-start;
    border-style: dashed;
    border-width: 1px;
    padding: 1rem;
    width: 20rem;
    max-width: 80%;
    position: relative;
    cursor: pointer;

    &::before {
        content: 'Ad';
        position: absolute;
        bottom: 0;
        right: 4px;
        font-weight: 500;
    }

    h3 {
        margin-bottom: 0.375rem;
        font-weight: 500;
    }

    .adobe-content {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        border-style: solid;
        border-width: 1px;
        width: 8rem;
        padding: 0.25rem 1rem;
        margin-top: 0.5rem;
        background-color: aliceblue;
        cursor: pointer;

        .img-wrapper {
            width: 2rem;
        }

        &:hover {
            box-shadow: 1px 1px 0px inset;
        }

        .ad-text {
            p {
                span {
                    color: #FF0000;
                    position: relative;
                    &::after {
                        content: '\00a9';
                        font-size: 0.5rem;
                        position: absolute;
                        top: 2px;
                        right: -6px;
                    }
                    margin-right: 0.35rem;

                    &.flash {
                        color: #000;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .adobe-ad-banner {
        align-items: center;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}