#desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100dvh;
    background: no-repeat center url('/assets/taskbar/wallpaper.webp');
    position: relative;


    #taskbar {
        margin-top: auto;
    }
}