.desktop-item {
    margin: 0.5rem;
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: 1px solid transparent;
    
    padding: 2px;
    border-radius: 2px;


    &:hover {
        background-color: rgba(49, 106, 197, 0.5);
        border-radius: 2px;
    }

    .icon-container {
        width: 32px;
        height: 32px;
        background-color: transparent;

        img {
            object-fit: contain;

        }
    }
    p {
        text-align: center;
        background-color: transparent;
        width: 100%;
        text-wrap: wrap;
    }
    
}