footer {
    width: 100%;
    background-color: #56B6C2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;

    .portfolio-icon {
        width: 64px;
        height: 64px;
    }


    .contact-info {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        .info-logo {
            width: 24px;
            height: 24px;
            padding: 12px 12px 12px 0;
            position: relative;
        }
    }

    .copyright {
        margin: 2rem 0 1rem 0;
    }
}