 header {
     position: relative;

     h1 {
         position: absolute;
         font-size: 2rem;
         left: 1rem;
         top: 0.5rem;
         background-color: transparent;

     }
 }

 @media screen and (min-width: 768px) {
     header {
         h1 {
             font-size: 4rem;
             left: 4rem;
             top: 2rem;
         }
     }
 }