#intro {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
    padding: 0 1rem;
    min-height: 100dvh;
    
    
    &>div {
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    .welcome {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;


        .message {
            width: 100%;
            margin-bottom: 1rem;
        }

        .website-logo {
            width: 8rem;
            
            img {
                object-fit: cover;
            }
        }
    }

    @for $i from 1 through 5 {
        &>:nth-child(#{$i}n) {
            animation-delay: #{$i - 1}s;
        }
    }

    .info, .about, .other {
        display: flex;
        flex-direction: column;

        div {
            display: grid;
            grid-template-columns: 150px 1fr;
            margin-bottom: 0.125rem;
        }
    }
    .end-note {
        margin-top: auto;
        padding-bottom: 1rem;
        p {
            span {
                color: #FFF;
                font-weight: 600;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    #intro {
        font-size: 2.5rem;

        .welcome {
            flex-direction: row;
            align-items: flex-start;
            height: 8rem;

            .website-logo {
                width: calc(20% + 4rem);
            }
        }

        .info {
            margin-top: 4rem;
        }

        .info, .about, .other {
            div {
                grid-template-columns: 250px 1fr;
            }
        }
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}