.window-loading {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    .logo {
        margin-bottom: 2rem;

        .top {
            font-size: 1.5rem;
            font-weight: 300;
            position: relative;

            &::after {
                content: "\00a9";
                font-size: 1.25rem;
                position: absolute;
                top: -0.5rem;
                margin-left: 2px;
            }
        }

        .mid {
            font-size: 3rem;
            font-weight: 600;
            position: relative;

            span {
                position: absolute;
                top: 0.2rem;
                font-size: 1.5rem;
                color: #FF6821;
            }
        }

        .bottom {
            font-size: 2.5rem;
        }
    }

    .container {
        display: flex;
        gap: 0.125rem;
        width: 150px;
        height: 10px;
        border: 2px solid #b2b2b2;
        border-radius: 5px;
        padding: 2px 1px;
        overflow: hidden;

        div {
            width: 9px;
            height: 100%;
            background: linear-gradient(to bottom, #2838c7 0%, #5979ef 17%, #869ef3 32%, #869ef3 45%, #5979ef 59%, #2838c7 100%);
            border-radius: 2px;
            animation: loader 2s linear infinite;
        }
    }
}


@keyframes loader {
    0% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(150px);
    }
}