.mcaffe-ad-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-width: 2px;
    padding: 1rem;
    border-style: inset;
    cursor: pointer;
    position: relative;

    &::before {
        content: 'Ad';
        position: absolute;
        bottom: 4px;
        left: 4px;
        font-weight: 500;
    }


    .warning {
        display: flex;
        flex-direction: row;
        background-color: #FFF;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;

        h2 {
            font-size: 2rem;
        }
    }

    .ad-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;

        .dashboard {
            display: none;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;

            h2 {
                font-size: 1.5rem;
                color: rgb(176, 61, 53);
            }

            h1 {
                font-size: 2rem;
                font-weight: 500;
                color: rgb(176, 61, 53);
            }

            .repair {
                font-size: 1.25rem;
                color: #FFF;
                border-radius: 3rem;
                width: 2.5rem;
                padding: 1rem;
                text-align: center;
                background-color: rgb(176, 61, 53);
                animation: pulse-glow 3s infinite;
            }

            p {
                font-size: 1rem;
                color: gray;

                span {
                    color: rgb(176, 61, 53);
                }
            }
        }

        .scan-results {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex: 1;

            h2 {
                font-size: 1.5rem;
                color: rgb(86, 101, 246);
                font-weight: 400;
            }

            .scanned-item-wrapper {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .scanned-item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-bottom: 0.25rem;
                    border-bottom: 2px;
                    border-bottom-style: solid;
                    border-bottom-color: rgb(86, 101, 246, 0.8);

                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.25rem;

                        img {
                            background-color: rgb(190, 191, 194);
                            width: 16px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }

    .subscription {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .mcafee-subcription {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;
            font-weight: 500;
            font-weight: 1.25rem;

            img {
                width: 1rem;
            }
        }

        button {
            padding: 0.5rem;
            color: #FFF;
            border-radius: 1rem;
            background-color: rgb(86, 101, 246);
        }
    }
}


@media screen and (min-width: 480px) {
    .mcaffe-ad-banner {
        .ad-content {
            .dashboard {
                display: flex;
            }
        }
    }

}

@keyframes pulse-glow {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgb(176, 61, 53, 0.7);
    }

    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
    }
}