.media-viewer-wrapper {
    max-width: 32rem;
    max-height: 32rem;

    .content {
        position: relative;
        background-color: aqua;

        .img-wrapper {
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .close {
            position: absolute;
            background-color: transparent;
            cursor: pointer;
            top: -2rem;
            right: -2.5rem;
            padding: 0.5rem;
        }

        .left-arrow {
            position: absolute;
            top: 50%;
            left: -2rem;
            padding: 0.5rem;
            background-color: transparent;
            cursor: pointer;
        }

        .right-arrow {
            position: absolute;
            top: 50%;
            right: -2rem;
            padding: 0.5rem;
            background-color: transparent;
            cursor: pointer;
        }

        .carousel-dots {
            display: flex;
            gap: 0.25rem;
            background-color: transparent;
            padding-top: 0.5rem;
            justify-content: center;
            position: absolute;
            bottom: -1.5rem;
            left: 45%;

            button {
                cursor: pointer;

                &.active {
                    background-color: aqua;

                }
            }
        }
    }
}