nav {
    width: 100%;
    height: 4rem;
    background-color: #56B6C2;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .portfolio-icon {
        margin-left: 12px;
        width: 50px;
        height: 50px;
    }

    &.expanded {
        .mobile-nav-btn {
            .bar {
                background-color: transparent;

                &::before {
                    transform: rotate(-45deg) translate(-3px, 3px);
                }
                &::after {
                    transform: rotate(45deg) translate(-8px, -9px);
                }
            }
        }

        .mobile-nav-menu {
            height: 10rem;
        }
    }

    .mobile-nav-btn {
        margin-right: 24px;
        padding: 8px;
        cursor: pointer;

        .bar {
            width: 24px;
            height: 3px;
            background-color: black;
            position: relative;
            
            &::before {
                position: absolute;
                top: -8px;
                left: 0;
                content: '';
                width: 24px;
                height: 3px;
                margin-bottom: 5px;
                background-color: red;
                transition: .3s ease-in-out;
            }
             &::after {
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                width: 24px;
                height: 3px;
                margin-bottom: 5px;
                background-color: blue;
                transition: .3s ease-in-out;
            }
        }
    }
    
    .mobile-nav-menu {
        width: 100%;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 64px;
        transition: height 0.5s;
        display: flex;
        flex-direction: column;

        a { 
            position: relative;
            margin: 10px 0px;
            margin-left: 12px;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                cursor: pointer;
                font-weight: bold;
                color: red;
            }

            &.active {
                color: red;
            }
            
            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: 0;
                width: 95%;
                height: 2px;
                background-color: burlywood;
                pointer-events: none;
            }
        }
    }

    .nav-menu {
        display: flex;
        gap: 1rem;
        
        a {
            padding-left: 10px;
            text-decoration: none;
            font-weight: 600;
            position: relative;

            &::before {
                content: '';
                height: 4px;
                width: 0;
                background-color: red;
                position: absolute;
                transition: 0.5s width;
                bottom: -0.5rem;
            }
        
            &:hover::before, &.active::before {
                width: 80%;
            }
        }

        &:last-child {
            margin-right: 1rem;
        }  
    } 
}