.pet-ad-banner {
    position: relative;
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    box-shadow: 5px 8px 7px #000;
    cursor: pointer;

    .img-container {
        width: 6rem;
        height: 100%;
        img {
            object-fit: contain;
        }
    }
    span {
        position: absolute;
        font-weight: 600;
        font-size: 1rem;
        top: 0px;
        left: 2px;
    }
    p {
        text-align: center;
    }
}