#portfolio {
    margin: 0 0 1rem 0;

    .portfolio-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

    }
}