.start-menu {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: #ffffffe0;
    background: linear-gradient(to bottom, #4CAF50 0%, #388E3C 50%, #1B5E20 100%);
    box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.4);
    border: 1px solid #1B5E20;
    border-radius: 0 10px 14px 0;
    width: 5rem;
    cursor: pointer;
    user-select: none;

    .xp-logo {
        width: 2.5rem;

        img {
            object-fit: contain;
        }
    }

    span {
        font-size: 1.5rem;
        font-style: italic;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    &:hover {
        background: linear-gradient(to top, #4CAF50 0%, #388E3C 50%, #1B5E20 100%);
        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
}