.taskbar-item {
    .icon-container {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.25rem;
        border: 1px solid transparent;

        img {
            object-fit: contain;
        }

    }
}