.taskbar-item {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    .icon-container {
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.25rem;
        border: 1px solid transparent;

        img {
            object-fit: contain;
        }
    }

    &:hover,
    &:active, &.active {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 10%, rgba(59, 119, 188, 1) 50%, rgba(59, 119, 188, 1) 100%);
        transform: translateY(1px);
    }

    .displayName {
        display: none;
    }

    &.active {
        .displayName {
            display: block;
        }
    }
}


@media screen and (min-width: 768px) {
    .taskbar-item {
        .displayName {
            display: block;
        }
    }
}