#taskbar {
    display: flex;
    color: #FFF;
    background-color: rgb(59, 119, 188);
    justify-content: space-between;
    height: 3rem;

    .app-list {
        display: flex;
        gap: 0.5rem;
        width: 100%;

        .pinned-items {
            gap: 0.5rem;
            display: inline-flex;
            overflow: hidden;
        }

        .active-apps {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            overflow-x: auto;
            overflow-y: hidden;
            height: 100%;
            width: calc(50% + 4rem);

            div {
                padding: 0.25rem;
                flex: 1;

                p {
                    pointer-events: none;
                }
            }
        }
    }

    .misc {
        display: flex;
        align-items: center;
        background-color: rgb(65, 141, 206);

        .taskbar-item {
            &:first-child {
                padding-left: 0.25rem;
            }

            &:last-child {
                padding-left: 1rem;
                width: 3rem;
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .misc {
        .taskbar-item {
            &:first-child {
                padding-left: 0.5rem;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    #taskbar {
        .misc {
            gap: 0.5rem;
            padding-right: 0.5rem;
        }
    }

}