.window {
    position: fixed;
    top: 50%;
    left: 50%;
    
    &.start {
        transform: translate(-50%, -50%);
    }

    &.minimize {
        opacity: 0;
        transform-origin: bottom left;
        transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        top: 100% !important;
        transform: translateY(-100%) scale(0) skewX(-20deg);        
    }
    
    &.active {
        z-index: 9000;
    }
    
    &.windows-media-player {
        max-width: 80%;
        width: 428px;
    }

    &.home {
        max-width: 90%;
        width: 600px;
    }
    
    .window-body {
        background-color: rgb(189, 208, 231);
    }
}


@media screen and (min-width: 768px) {
    .window {
        &.windows-media-player {
            max-width: 60%;
            width: 800px;
        }

        &.home {
            max-width: 90%;
            width: 46rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .window {

        &.home {
            width: 59rem;
        }
    }
}